# Step by step
I will start from a basic, almost empty model, and work to gradually improve it.
# IMDB
The competition rules state that "You can collect other publicly available data to use in your model predictions, but in the spirit of this competition, use only data that would have been available before a movie's release.". I have (in a separate Kernel) read the following data from imdb: year, budget, runtime, country, etc. - all data that was known before the release, and will try to merge it with the training data.

# In this iteration

fix budget? entries with 0? make it log? Some are in millions - need to multiple by 1000000
Budgets are available on imdb, at least for some movies
Are budgets in USD?
Other stuff to get from imdb: technical details, etc.
# Log
* Adding mpaa_ratings improved the score to 1.97524
* Fixing a few runtime and year values based on imdb data barely bade a difference: 1.99040
* Adding a log(budget) improved the public score 1.99055
* Doing EDA and feature engineering on homepage improved the public score to 2.02096
* Fixing the century of the release year didn't help (actually made it a little worse)
* A stacked model improved the public score by a lot to 2.02996!!!
* Doing EDA and feature engineering on cast dit not improve the public score (overfitting)
* Doing EDA and feature engineering on crew (barely) improved the public score to 2.38779
* Doing EDA and feature engineering on original_language dit not improve the public score (probably because it's highly correlated with spoken_languages)
* Doing EDA and feature engineering on runtime improved the public score to 2.42784
* Doing EDA and feature engineering on release_date improved the public score to 2.46433
* Doing EDA and feature engineering on spoken_languages improved the public score to 2.46744
* Doing EDA and feature engineering on production_countries improved the public score to 2.47048
* Doing EDA and feature engineering on production_companies improved the public score to 2.49865
* Created a set of utilities for EDA and feature engineering for all dictionary columns, it should make the next columns much faster.
* Doing EDA and feature engineering on genres improved the public score to 2.59730
* Doing EDA and feature engineering on belongs_to_collection improved the public score to 2.67052
* A baseline based only on budget and popularity, with a simple lasso model, resulted in a 2.68084 public score
# References
I've learned a lot from these kernels:
[Stacked Regressions to predict House Prices] by Serigne - how to stack models
[1]: https://www.kaggle.com/serigne/stacked-regressions-top-4-on-leaderboard

In [1]:
# Import
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import os
import collections
import time
from sklearn.preprocessing import LabelEncoder
print(os.listdir("../input"))

['tmdb-box-office-prediction', 'imdb-web-scraping-4']

In [2]:
# Load files
train = pd.read_csv("../input/tmdb-box-office-prediction/train.csv")
test = pd.read_csv("../input/tmdb-box-office-prediction/test.csv")
imdb = pd.read_csv("../input/imdb-web-scraping-4/imdb.csv")
train.head()

   id    ...      revenue
0   1    ...     12314651
1   2    ...     95149435
2   3    ...     13092000
3   4    ...     16000000
4   5    ...      3923970

[5 rows x 23 columns]

In [3]:
imdb.head()

     imdb_id                        ...                                                                mpaa_rating
0  tt2637294                        ...                          Rated R for crude sexual content and language ...
1  tt0368933                        ...                                                                        NaN
2  tt2582802                        ...                          Rated R for strong language including some sex...
3  tt1821480                        ...                                                                        NaN
4  tt1380152                        ...                                                                        NaN

[5 rows x 7 columns]

In [4]:
# Combine train and test to allow feature engineering on the combined data. Store the ids and the revenue for future use
train_rows = train.shape[0]
y_train = np.log1p(train["revenue"]).values
train_ID = train['id']
test_ID = test['id']

all_data = pd.concat([train, test], sort=False)
all_data.drop(['revenue'], axis=1, inplace=True)
all_data.drop(['id'], axis=1, inplace=True)

# Combine the result with the imdb data
all_data = pd.merge(all_data, imdb, how="left", on="imdb_id")
all_data.head()

                               belongs_to_collection                        ...                                                                mpaa_rating
0  [{'id': 313576, 'name': 'Hot Tub Time Machine ...                        ...                          Rated R for crude sexual content and language ...
1  [{'id': 107674, 'name': 'The Princess Diaries ...                        ...                                                                        NaN
2                                                NaN                        ...                          Rated R for strong language including some sex...
3                                                NaN                        ...                                                                        NaN
4                                                NaN                        ...                                                                        NaN

[5 rows x 27 columns]

# EDA and Feature Engineering

In [5]:
# Several columns (e.g. genres) are lists of values - split them to dictionaries for easier processing
import ast
for c in ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 
          'Keywords', 'cast', 'crew']:
    all_data[c] = all_data[c].apply(lambda x: {} if pd.isna(x) else ast.literal_eval(x))

In [6]:
# The EDA and feature engineering for the dict columns seems similar. Create a few basic common utilities
def print_few_values(col_name):
    print("Sample values for", col_name)
    all_data[col_name].head(5).apply(lambda x: print(x))
    
def dictionary_sizes(col_name):
    return (all_data[col_name].apply(lambda x: len(x)).value_counts())

def print_dictionary_sizes(col_name):
    print("\n===================================================")
    print("Distribution of sizes for", col_name)
    print(dictionary_sizes(col_name))
    
# returns a list of tuples of names for a given row of a column
def dict_name_list(d, name="name"):
    return ([i[name] for i in d] if d != {} else [])

# returns a list of tuples of the (id,name) pairs for a given row of a column
def dict_id_name_list(d, name="name"):
    return ([(i["id"],i[name]) for i in d] if d != {} else [])

# returns a list of names for a given column
def col_name_list(col_name, name="name"):
    # Get a list of lists of names
    name_list_list = list(all_data[col_name].apply(lambda x: dict_name_list(x, name)).values)
    # Merge into 1 list
    return ([i for name_list in name_list_list for i in name_list])

# returns a list of tuples of the (id,name) pairs for a given column
def col_id_name_list(col_name, name="name"):
    # Get a list of lists of (id,name) tuples
    tuple_list_list = list(all_data[col_name].apply(lambda x: dict_id_name_list(x, name)).values)
    # Merge into 1 list
    return ([i for tuple_list in tuple_list_list for i in tuple_list])

def get_names_counter(col_name, name="name"):
    name_list = col_name_list(col_name, name)
    return (collections.Counter(name_list))
    
def print_top_names(col_name, name="name"):
    print("\n===================================================")
    print("Top {0}s for {1}".format(name, col_name))
    c = get_names_counter(col_name, name)
    print(c.most_common(20))
    
def EDA_dict(col_name):
    print_few_values(col_name)
    print_dictionary_sizes(col_name)
    print_top_names(col_name)
    
def add_dict_size_column(col_name):
    all_data[col_name + "_size"] = all_data[col_name].apply(lambda x: len(x) if x != {} else 0)

def add_dict_id_column(col_name):
    c = col_name + "_id"
    all_data[c] = all_data[col_name].apply(lambda x: x[0]["id"] if x != {} else 0)
    all_data[c] = all_data[c].astype("category")

# for each of the top values in the dictionary, add an column indicating if the row belongs to it
def add_dict_indicator_columns(col_name):
    c = get_names_counter(col_name)
    top_names = [x[0] for x in c.most_common(20)]
    for name in top_names:
        all_data[col_name + "_" + name] = all_data[col_name].apply(lambda x: name in dict_name_list(x))
        
def drop_column(col_name):
    all_data.drop([col_name], axis=1, inplace=True)
    
def feature_engineer_dict(col_name):
    add_dict_size_column(col_name)
    max_size = dictionary_sizes(col_name).index.max()
    if max_size == 1:
        add_dict_id_column(col_name)
    else:
        add_dict_indicator_columns(col_name)
    drop_column(col_name)
    
def encode_column(col_name):
    lbl = LabelEncoder()
    lbl.fit(list(all_data[col_name].values)) 
    all_data[col_name] = lbl.transform(list(all_data[col_name].values))

# belongs_to_collection

In [7]:
col_name = "belongs_to_collection"
# EDA
EDA_dict(col_name)

Sample values for belongs_to_collection
[{'id': 313576, 'name': 'Hot Tub Time Machine Collection', 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg', 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}]
[{'id': 107674, 'name': 'The Princess Diaries Collection', 'poster_path': '/wt5AMbxPTS4Kfjx7Fgm149qPfZl.jpg', 'backdrop_path': '/zSEtYD77pKRJlUPx34BJgUG9v1c.jpg'}]
{}
{}
{}

===================================================
Distribution of sizes for belongs_to_collection
0    5917
1    1481
Name: belongs_to_collection, dtype: int64

===================================================
Top names for belongs_to_collection
[('James Bond Collection', 26), ('Friday the 13th Collection', 12), ('Pokémon Collection', 9), ('The Fast and the Furious Collection', 8), ('The Pink Panther (Original) Collection', 8), ('Star Wars Collection', 8), ('Halloween Collection', 8), ('Harry Potter Collection', 8), ('A Nightmare on Elm Street Collection', 8), ('Rocky Collection', 7), ('Police Academy Collection', 7), ('Saw Collection', 7), ('The Muppet Collection', 6), ('X-Men Collection', 6), ('Resident Evil Collection', 6), ('Paranormal Activity Collection', 6), ('Star Trek: The Original Series Collection', 6), ('Ice Age Collection', 5), ('The Jack Ryan Collection', 5), ('Step Up Collection', 5)]

In [8]:
# Feature engineering
feature_engineer_dict(col_name)

# genres

In [9]:
col_name="genres"
EDA_dict(col_name)

Sample values for genres
[{'id': 35, 'name': 'Comedy'}]
[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
[{'id': 18, 'name': 'Drama'}]
[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

===================================================
Distribution of sizes for genres
2    2379
3    2208
1    1488
4     967
5     280
6      48
0      23
7       4
8       1
Name: genres, dtype: int64

===================================================
Top names for genres
[('Drama', 3676), ('Comedy', 2605), ('Thriller', 1869), ('Action', 1735), ('Romance', 1435), ('Adventure', 1116), ('Crime', 1084), ('Science Fiction', 744), ('Horror', 735), ('Family', 675), ('Fantasy', 628), ('Mystery', 550), ('Animation', 382), ('History', 295), ('Music', 267), ('War', 243), ('Documentary', 221), ('Western', 117), ('Foreign', 84), ('TV Movie', 1)]

In [10]:
# Feature engineering
feature_engineer_dict(col_name)

# production_companies

In [11]:
col_name="production_companies"
EDA_dict(col_name)

Sample values for production_companies
[{'name': 'Paramount Pictures', 'id': 4}, {'name': 'United Artists', 'id': 60}, {'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]
[{'name': 'Walt Disney Pictures', 'id': 2}]
[{'name': 'Bold Films', 'id': 2266}, {'name': 'Blumhouse Productions', 'id': 3172}, {'name': 'Right of Way Films', 'id': 32157}]
{}
{}

===================================================
Distribution of sizes for production_companies
1     1905
2     1786
3     1373
4      785
5      430
0      414
6      295
7      156
8       91
9       74
11      24
10      22
12       8
16       8
13       6
14       5
19       3
15       3
17       2
18       2
21       2
24       1
20       1
22       1
26       1
Name: production_companies, dtype: int64

===================================================
Top names for production_companies
[('Warner Bros.', 491), ('Universal Pictures', 463), ('Paramount Pictures', 393), ('Twentieth Century Fox Film Corporation', 341), ('Columbia Pictures', 236), ('Metro-Goldwyn-Mayer (MGM)', 207), ('New Line Cinema', 198), ('Touchstone Pictures', 158), ('Walt Disney Pictures', 147), ('Columbia Pictures Corporation', 140), ('Canal+', 130), ('TriStar Pictures', 121), ('Relativity Media', 115), ('United Artists', 105), ('Miramax Films', 104), ('Village Roadshow Pictures', 89), ('Regency Enterprises', 81), ('DreamWorks SKG', 78), ('Fox Searchlight Pictures', 69), ('Amblin Entertainment', 68)]

In [12]:
# Feature engineering
feature_engineer_dict(col_name)

# production_countries

In [13]:
col_name="production_countries"
EDA_dict(col_name)

Sample values for production_countries
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'IN', 'name': 'India'}]
[{'iso_3166_1': 'KR', 'name': 'South Korea'}]

===================================================
Distribution of sizes for production_countries
1     5464
2     1227
3      361
0      157
4      128
5       42
6       11
8        3
9        2
7        1
10       1
12       1
Name: production_countries, dtype: int64

===================================================
Top names for production_countries
[('United States of America', 5617), ('United Kingdom', 917), ('France', 570), ('Germany', 411), ('Canada', 323), ('India', 220), ('Italy', 160), ('Japan', 157), ('Australia', 148), ('Spain', 139), ('Russia', 132), ('China', 99), ('Hong Kong', 96), ('Belgium', 64), ('Ireland', 62), ('South Korea', 58), ('Sweden', 50), ('Mexico', 44), ('Netherlands', 43), ('Denmark', 40)]

In [14]:
# Feature engineering
feature_engineer_dict(col_name)

# spoken_languages

In [15]:
col_name="spoken_languages"
EDA_dict(col_name)

Sample values for spoken_languages
[{'iso_639_1': 'en', 'name': 'English'}]
[{'iso_639_1': 'en', 'name': 'English'}]
[{'iso_639_1': 'en', 'name': 'English'}]
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'hi', 'name': 'हिन्दी'}]
[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]

===================================================
Distribution of sizes for spoken_languages
1    5226
2    1319
3     502
4     178
5      73
0      62
6      25
7       6
8       4
9       3
Name: spoken_languages, dtype: int64

===================================================
Top names for spoken_languages
[('English', 6449), ('Français', 711), ('Español', 559), ('Deutsch', 419), ('Pусский', 364), ('Italiano', 321), ('日本語', 204), ('普通话', 163), ('हिन्दी', 160), ('', 114), ('العربية', 102), ('Português', 100), ('广州话 / 廣州話', 89), ('한국어/조선말', 78), ('Polski', 69), ('Latin', 66), ('Magyar', 64), ('Český', 57), ('ภาษาไทย', 55), ('தமிழ்', 52)]

In [16]:
# Feature engineering
feature_engineer_dict(col_name)

# release_date

In [17]:
# Check for nulls
all_data.loc[all_data["release_date"].isnull()]
# There is 1 movie w/o a release date. Looking it up in imdb by imdb_id = tt0210130, it was release in march 2000
all_data.loc[all_data["release_date"].isnull(), "release_date"] = "05/01/2000"
# Parse the string to a date
all_data["release_date"] = pd.to_datetime(all_data["release_date"])
# Create columns for each part of the date
all_data["release_date_weekday"] = all_data["release_date"].dt.weekday.astype(int)
all_data["release_date_month"] = all_data["release_date"].dt.month.astype(int)
all_data["release_date_year"] = all_data["release_date"].dt.year.astype(int)
# The year is formatted as yy as opposed to yyyy, and therefore the century is sometimes incorrect.
all_data["release_date_year"] = np.where(all_data["release_date_year"]>2019, all_data["release_date_year"]-100, all_data["release_date_year"])
# Compare with imdb
all_data["imdb_year"]=all_data["imdb_year"].astype(int)
# Compare the values
print(all_data[abs(all_data["release_date_year"]-all_data["imdb_year"])>2][["imdb_id","release_date_year","imdb_year"]])
# There are 4 movies from the 20th century that appear as 21st century due to the issue above. Fix them.
all_data.loc[abs(all_data["release_date_year"]-all_data["imdb_year"])>2, "release_date_year"] = all_data["imdb_year"]
drop_column("release_date")
drop_column("imdb_year")

        imdb_id  release_date_year  imdb_year
605   tt0004972               2015       1915
2226  tt0006333               2016       1916
3812  tt0005078               2015       1915
5307  tt0009369               2018       1918

# runtime

In [18]:
all_data.loc[all_data["runtime"].isnull(), "imdb_id"]
all_data.loc[all_data["runtime"]==0, "imdb_id"]
# A few movies don't have runtime. Get their imdb_id to look them up on imdb.
all_data.loc[all_data["runtime"]==0, "runtime"] = all_data["imdb_runtime"]
all_data.loc[all_data["runtime"].isnull(), "runtime"] = all_data["imdb_runtime"]
# Most of them have values in imdb. Found one more online.Filling the remaining ones with the column average 
all_data["runtime"].fillna(all_data["runtime"].mean(), inplace=True)
drop_column("imdb_runtime")

# original_language

In [19]:
encode_column("original_language")

In [20]:
# Fix Gender
# Both cast and crew have lots of entries with gender == 0 (i.e. unknown). 
# Use the rest of the entries to decide if a first name is male or female, and categorize the unknown ones by that

# Create a DataFrame of all the names in the cast and crew columns and how many times they appear as each gender
def get_names():
    tuple_list_list = list(all_data["cast"].apply(lambda x: [(cm["name"].split(" ")[0],cm["gender"]) for cm in x]).values)
    tuple_list_list.extend(list(all_data["crew"].apply(lambda x: [(cm["name"].split(" ")[0],cm["gender"]) for cm in x]).values))
    tuple_list = [i for tuple_list in tuple_list_list for i in tuple_list]
    names = set()
    c = [None] * 3
    for gender in range (0, 3):
        t = [i[0] for i in tuple_list if i[1] == gender]
        names.update(set(t))
        c[gender] = collections.Counter(t)
    names_df = pd.DataFrame(data = list(names), columns=["name"])
    names_df["female_count"] = names_df["name"].apply(lambda x: c[1][x])
    names_df["male_count"] = names_df["name"].apply(lambda x: c[2][x])
    names_df["unknown_count"] = names_df["name"].apply(lambda x: c[0][x])
    names_df["total_count"] = names_df.apply(lambda x: x["female_count"]+x["male_count"]+x["unknown_count"], axis=1)
    return (names_df)

names_df = get_names()

# Classify each name with a gender (or leave as 0 if there is not enough data to decide or the name is unisex)
def ClassifyName(row):
    fcount = row["female_count"]
    mcount = row["male_count"]
    cl = "TBD"
    gender = 0
    if (fcount + mcount < 5):
        cl = "too few names"
    elif (fcount == 0):
        gender = 2
        cl = "high confidence"
    elif (mcount == 0):
        gender = 1
        cl = "high confidence"
    else:  # both are > 0
        # If a name is 90+% male or female, even if unisex, we'll bet on the majority
        if (mcount / float(fcount) < 0.1):
            gender = 1
            cl = "unisex - pick one"
        elif (fcount / float(mcount) < 0.1):
            gender = 2
            cl = "unisex - pick one"
        else: #unisex, no sex more than 90% - leave as undefined
            cl = "unisex - TBD"
    return [gender, cl]

names_df = names_df.merge(names_df.apply(lambda x: ClassifyName(x), axis=1, result_type="expand"), left_index=True, right_index=True)
names_df.rename(columns={0:"gender", 1:"classification"}, inplace=True)
# pd.pivot_table(names_df, index=["classification"], values="total_count", aggfunc=[np.sum, "count"])

# Create a dictionary that maps each name that as male or female (to not add names with undefined gender)
names_to_gender = dict()
def update_names_to_gender(row):
    if (row["gender"] > 0):
        names_to_gender[row["name"]] = row["gender"]
j = names_df.apply(lambda x: update_names_to_gender(x), axis=1)
# names_to_gender

# Method to fix the entries with gender == 0 (in cast or crew)
def fix_unknown_gender_row(row):
    for cm in row:
        if cm["gender"] == 0:
            name = cm["name"]
            first_name = name.split(" ")[0]
            if (first_name in names_to_gender):
                cm["gender"] = names_to_gender[first_name]
    
def fix_unknown_gender_col(col_name):
    all_data[col_name].apply(lambda x: fix_unknown_gender_row(x))

# crew

In [21]:
col_name = "crew"
EDA_dict(col_name)
# The crew column is different than others as it has much more properties. Let's look at jobs
print_top_names(col_name, name="job")

Sample values for crew
[{'credit_id': '59ac067c92514107af02c8c8', 'department': 'Directing', 'gender': 0, 'id': 1449071, 'job': 'First Assistant Director', 'name': 'Kelly Cantley', 'profile_path': None}, {'credit_id': '52fe4ee7c3a36847f82afad7', 'department': 'Directing', 'gender': 2, 'id': 3227, 'job': 'Director', 'name': 'Steve Pink', 'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'}, {'credit_id': '5524ed25c3a3687ded000d88', 'department': 'Writing', 'gender': 2, 'id': 347335, 'job': 'Writer', 'name': 'Josh Heald', 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'credit_id': '5524ed2d925141720c001128', 'department': 'Writing', 'gender': 2, 'id': 347335, 'job': 'Characters', 'name': 'Josh Heald', 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'credit_id': '5524ed3d92514166c1004a5d', 'department': 'Production', 'gender': 2, 'id': 57822, 'job': 'Producer', 'name': 'Andrew Panay', 'profile_path': None}, {'credit_id': '5524ed4bc3a3687df3000dd2', 'department': 'Production', 'gender': 0, 'id': 1451395, 'job': 'Associate Producer', 'name': 'Adam Blum', 'profile_path': None}, {'credit_id': '5524ed5a925141720c00112c', 'department': 'Production', 'gender': 2, 'id': 52997, 'job': 'Executive Producer', 'name': 'Rob Corddry', 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'credit_id': '5524ed85c3a3687e0e000f56', 'department': 'Production', 'gender': 0, 'id': 62807, 'job': 'Executive Producer', 'name': 'Ben Ormand', 'profile_path': None}, {'credit_id': '5524ed9fc3a3687e0e000f59', 'department': 'Sound', 'gender': 2, 'id': 23486, 'job': 'Original Music Composer', 'name': 'Christophe Beck', 'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'}, {'credit_id': '5524eda6c3a3687e03000d28', 'department': 'Camera', 'gender': 2, 'id': 6117, 'job': 'Director of Photography', 'name': 'Declan Quinn', 'profile_path': None}, {'credit_id': '5524edb4925141720c00113d', 'department': 'Editing', 'gender': 0, 'id': 1451396, 'job': 'Editor', 'name': 'Jamie Gross', 'profile_path': None}, {'credit_id': '5524edc1925141727600102e', 'department': 'Production', 'gender': 0, 'id': 22219, 'job': 'Casting', 'name': 'Susie Farris', 'profile_path': None}, {'credit_id': '5524edd192514171cb008257', 'department': 'Art', 'gender': 0, 'id': 1002643, 'job': 'Production Design', 'name': 'Ryan Berg', 'profile_path': None}, {'credit_id': '555ad9be9251411e5b00d485', 'department': 'Production', 'gender': 2, 'id': 57431, 'job': 'Executive Producer', 'name': 'Matt Moore', 'profile_path': None}, {'credit_id': '5677e93bc3a36816890087dc', 'department': 'Directing', 'gender': 0, 'id': 1551818, 'job': 'Script Supervisor', 'name': 'Nicole Garcea', 'profile_path': None}, {'credit_id': '5677e96a92514179e10093d0', 'department': 'Production', 'gender': 0, 'id': 1551819, 'job': 'Production Coordinator', 'name': 'Jason Salzman', 'profile_path': None}, {'credit_id': '5677e98492514179d2008cd9', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1422996, 'job': 'Costume Design', 'name': 'Carol Cutshall', 'profile_path': None}, {'credit_id': '5677e9d5c3a368168e009414', 'department': 'Art', 'gender': 2, 'id': 500199, 'job': 'Set Decoration', 'name': 'Tim Cohn', 'profile_path': None}, {'credit_id': '5677f89d9251417845001a61', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1527917, 'job': 'Hair Department Head', 'name': 'Voni Hinkle', 'profile_path': None}, {'credit_id': '5677f8b392514179dd0089fb', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1431554, 'job': 'Makeup Department Head', 'name': 'Remi Savva', 'profile_path': None}, {'credit_id': '5677f8d1c3a3681689008a4b', 'department': 'Art', 'gender': 0, 'id': 66495, 'job': 'Art Direction', 'name': 'Jason Baldwin Stewart', 'profile_path': None}, {'credit_id': '5677f8eec3a3681685008dd5', 'department': 'Production', 'gender': 0, 'id': 1412466, 'job': 'Production Supervisor', 'name': 'Korey Budd', 'profile_path': None}, {'credit_id': '5677f90a9251417845001a7d', 'department': 'Sound', 'gender': 0, 'id': 1401562, 'job': 'Sound Re-Recording Mixer', 'name': 'Gary C. Bourgeois', 'profile_path': None}, {'credit_id': '5677f91e9251417845001a84', 'department': 'Sound', 'gender': 0, 'id': 1396794, 'job': 'Sound Re-Recording Mixer', 'name': 'Gabriel J. Serrano', 'profile_path': None}, {'credit_id': '5677f938c3a3681680008dd4', 'department': 'Editing', 'gender': 0, 'id': 13168, 'job': 'Dialogue Editor', 'name': 'Victoria Rose Sampson', 'profile_path': None}, {'credit_id': '5677f94e92514179dd008a1f', 'department': 'Sound', 'gender': 0, 'id': 1551839, 'job': 'Production Sound Mixer', 'name': 'Michael B. Koff', 'profile_path': None}, {'credit_id': '5677f968c3a368168e009698', 'department': 'Sound', 'gender': 0, 'id': 113052, 'job': 'Sound Effects Editor', 'name': 'Randall Guth', 'profile_path': None}, {'credit_id': '5677f98dc3a3681685008e02', 'department': 'Crew', 'gender': 2, 'id': 1442535, 'job': 'Stunt Coordinator', 'name': 'Chuck Picerni Jr.', 'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'}, {'credit_id': '5677f9a692514179dd008a49', 'department': 'Camera', 'gender': 0, 'id': 1437305, 'job': 'Camera Operator', 'name': 'Michael Applebaum', 'profile_path': None}, {'credit_id': '5677f9bd9251417845001aae', 'department': 'Camera', 'gender': 0, 'id': 1401765, 'job': 'Still Photographer', 'name': 'Steve Dietl', 'profile_path': None}, {'credit_id': '5677f9e592514179e7008bf7', 'department': 'Lighting', 'gender': 0, 'id': 1402721, 'job': 'Rigging Gaffer', 'name': 'Tarik Naim Alherimi', 'profile_path': None}, {'credit_id': '5677f9f4c3a368167c0090ed', 'department': 'Lighting', 'gender': 0, 'id': 1402719, 'job': 'Gaffer', 'name': 'Paul Olinde', 'profile_path': None}, {'credit_id': '5677fa21c3a368168e0096ca', 'department': 'Sound', 'gender': 0, 'id': 1551840, 'job': 'Music Supervisor', 'name': 'Steve Griffen', 'profile_path': None}, {'credit_id': '5677fa31c3a3681680008e04', 'department': 'Sound', 'gender': 0, 'id': 1551841, 'job': 'Music Editor', 'name': 'Matt Fausak', 'profile_path': None}, {'credit_id': '5677fa4392514179dd008a76', 'department': 'Sound', 'gender': 0, 'id': 1551840, 'job': 'Music Editor', 'name': 'Steve Griffen', 'profile_path': None}, {'credit_id': '5677fa609251417845001acf', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1403416, 'job': 'Costume Supervisor', 'name': 'Shonta T. McCray', 'profile_path': None}, {'credit_id': '5677fa8492514179d2008fb3', 'department': 'Camera', 'gender': 0, 'id': 1425831, 'job': 'Steadicam Operator', 'name': 'Mark Karavite', 'profile_path': None}, {'credit_id': '5677fab2c3a3681689008ac3', 'department': 'Camera', 'gender': 0, 'id': 1551842, 'job': 'First Assistant Camera', 'name': 'Joe Waistell', 'profile_path': None}, {'credit_id': '5677faecc3a368168e0096fe', 'department': 'Sound', 'gender': 0, 'id': 58362, 'job': 'Supervising Sound Editor', 'name': 'Michael Hilkene', 'profile_path': None}, {'credit_id': '59ac0368c3a3682c0a02c484', 'department': 'Crew', 'gender': 0, 'id': 1881584, 'job': 'Additional Writing', 'name': 'John Karnay', 'profile_path': None}, {'credit_id': '59ac0411c3a3682bf0028966', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1431552, 'job': 'Hairstylist', 'name': 'Daina Daigle', 'profile_path': None}, {'credit_id': '59ac0504925141072302b8fb', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1712001, 'job': 'Makeup Artist', 'name': 'Allison Gordin', 'profile_path': None}, {'credit_id': '59ac0570c3a3682bf0028aac', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 578725, 'job': 'Makeup Artist', 'name': 'Darryl Lucas', 'profile_path': None}, {'credit_id': '59ac05a4925141077e02c97e', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1463274, 'job': 'Makeup Artist', 'name': 'Annabelle MacNeal', 'profile_path': None}, {'credit_id': '59ac05c6925141076502d106', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1881586, 'job': 'Makeup Artist', 'name': 'Marina Savva', 'profile_path': None}, {'credit_id': '59ac0615c3a3682c480296aa', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1406267, 'job': 'Hairstylist', 'name': 'Carl G. Variste', 'profile_path': None}, {'credit_id': '59ac06ba925141076502d1fa', 'department': 'Directing', 'gender': 0, 'id': 1798593, 'job': 'First Assistant Director', 'name': 'Josh King', 'profile_path': None}, {'credit_id': '59ac06f1c3a3682c2202aca0', 'department': 'Art', 'gender': 0, 'id': 1415083, 'job': 'Greensman', 'name': 'Scott C. Bivona', 'profile_path': None}, {'credit_id': '59ac072c925141076502d260', 'department': 'Art', 'gender': 0, 'id': 1881587, 'job': 'Title Designer', 'name': 'Eunha Choi', 'profile_path': None}, {'credit_id': '59ac077c925141077e02cb62', 'department': 'Art', 'gender': 0, 'id': 1585302, 'job': 'Construction Coordinator', 'name': 'Daniel Coe', 'profile_path': None}, {'credit_id': '59ac07e0925141078a02d842', 'department': 'Art', 'gender': 0, 'id': 1495523, 'job': 'Set Designer', 'name': 'Spencer Davison', 'profile_path': None}, {'credit_id': '59ac0862925141072f02cf6f', 'department': 'Art', 'gender': 0, 'id': 1881589, 'job': 'Painter', 'name': 'Sonia L. Garcia', 'profile_path': None}, {'credit_id': '59ac08e0c3a3682bf0028e51', 'department': 'Art', 'gender': 0, 'id': 1424896, 'job': 'Art Department Coordinator', 'name': 'Caleb Guillotte', 'profile_path': None}, {'credit_id': '59ac0920c3a3682c2202af36', 'department': 'Art', 'gender': 0, 'id': 1393375, 'job': 'Leadman', 'name': "Pat A. O'Connor", 'profile_path': None}, {'credit_id': '59ac095592514107af02cc39', 'department': 'Art', 'gender': 0, 'id': 1881592, 'job': 'Set Designer', 'name': 'Brendan Turrill', 'profile_path': None}, {'credit_id': '59ac0989925141072302bdfa', 'department': 'Art', 'gender': 2, 'id': 76497, 'job': 'Property Master', 'name': 'Brook Yeaton', 'profile_path': None}, {'credit_id': '59ac0a2cc3a3682c9c02add1', 'department': 'Sound', 'gender': 0, 'id': 1881596, 'job': 'Boom Operator', 'name': 'Matthew Armstrong', 'profile_path': None}, {'credit_id': '59ac0aa8925141072f02d282', 'department': 'Visual Effects', 'gender': 2, 'id': 1558086, 'job': 'Special Effects Supervisor', 'name': 'Matt Kutcher', 'profile_path': None}, {'credit_id': '59ac0b2ac3a3682c2202b192', 'department': 'Crew', 'gender': 2, 'id': 1558087, 'job': 'Special Effects Coordinator', 'name': 'Eric Roberts', 'profile_path': None}, {'credit_id': '59ac0b7ac3a3682c2202b1fb', 'department': 'Visual Effects', 'gender': 0, 'id': 1392098, 'job': 'Visual Effects Supervisor', 'name': 'Rocco Passionino', 'profile_path': None}, {'credit_id': '59ac0bbe925141077e02d0c4', 'department': 'Visual Effects', 'gender': 0, 'id': 1558716, 'job': 'Visual Effects Coordinator', 'name': 'Joseph Payo', 'profile_path': None}, {'credit_id': '59ac0bf2c3a3682cc802cefa', 'department': 'Visual Effects', 'gender': 0, 'id': 1408784, 'job': 'Visual Effects Producer', 'name': 'Chris Roff', 'profile_path': None}, {'credit_id': '59ac0c51c3a3682c48029d99', 'department': 'Lighting', 'gender': 0, 'id': 1881600, 'job': 'Best Boy Electric', 'name': 'Ulyan Atamanyuk', 'profile_path': None}, {'credit_id': '59ac0cbac3a3682c0a02cff6', 'department': 'Camera', 'gender': 0, 'id': 1881602, 'job': 'Key Grip', 'name': 'Chris Ekstrom', 'profile_path': None}, {'credit_id': '59ac0d54925141072f02d5e6', 'department': 'Lighting', 'gender': 0, 'id': 1484984, 'job': 'Best Boy Electric', 'name': 'Brad Garris', 'profile_path': None}, {'credit_id': '59ac0db0925141078a02df86', 'department': 'Camera', 'gender': 0, 'id': 1881603, 'job': 'Dolly Grip', 'name': 'Kendell Joseph', 'profile_path': None}, {'credit_id': '59ac0e5a925141077e02d39f', 'department': 'Camera', 'gender': 0, 'id': 1549179, 'job': 'Dolly Grip', 'name': 'Spencer Wilcox', 'profile_path': None}, {'credit_id': '59ac0e9f925141079d02bee6', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1552626, 'job': 'Key Costumer', 'name': 'Sarah P. Koeppe', 'profile_path': None}, {'credit_id': '59ac0ec1c3a3682bf0029524', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1881605, 'job': 'Seamstress', 'name': 'Catherine Rodi', 'profile_path': None}, {'credit_id': '59ac0eef925141070702c7ff', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1463801, 'job': 'Seamstress', 'name': 'Giselle Spence', 'profile_path': None}, {'credit_id': '59ac0f5dc3a3682c4802a0f5', 'department': 'Production', 'gender': 0, 'id': 1400837, 'job': 'Location Manager', 'name': 'John A. Johnston', 'profile_path': None}, {'credit_id': '59ac0ff2c3a3682c4802a196', 'department': 'Crew', 'gender': 0, 'id': 1844322, 'job': 'Production Controller', 'name': 'Gail Marks', 'profile_path': None}]
[{'credit_id': '52fe43fe9251416c7502563d', 'department': 'Directing', 'gender': 2, 'id': 1201, 'job': 'Director', 'name': 'Garry Marshall', 'profile_path': '/kx77E8p5rnEmKxIhFT0qWCEMEik.jpg'}, {'credit_id': '52fe43fe9251416c75025667', 'department': 'Camera', 'gender': 2, 'id': 1214, 'job': 'Director of Photography', 'name': 'Charles Minsky', 'profile_path': None}, {'credit_id': '52fe43fe9251416c75025661', 'department': 'Sound', 'gender': 2, 'id': 4500, 'job': 'Original Music Composer', 'name': 'John Debney', 'profile_path': '/hTrlvZlDXQk49nfc2BM9sjKfJv.jpg'}, {'credit_id': '52fe43fe9251416c7502564f', 'department': 'Production', 'gender': 1, 'id': 8851, 'job': 'Producer', 'name': 'Whitney Houston', 'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'}, {'credit_id': '52fe43fe9251416c7502566d', 'department': 'Editing', 'gender': 0, 'id': 12970, 'job': 'Editor', 'name': 'Bruce Green', 'profile_path': '/yplxWPVgwK1b33AjvbhM9mWX2Aw.jpg'}, {'credit_id': '52fe43fe9251416c75025655', 'department': 'Production', 'gender': 2, 'id': 38415, 'job': 'Producer', 'name': 'Mario Iscovich', 'profile_path': None}, {'credit_id': '52fe43fe9251416c7502565b', 'department': 'Production', 'gender': 1, 'id': 38416, 'job': 'Executive Producer', 'name': 'Ellen H. Schwartz', 'profile_path': '/6WInjABr1sAYGXaa5qOvSrsHIqP.jpg'}, {'credit_id': '52fe43fe9251416c75025649', 'department': 'Production', 'gender': 1, 'id': 59973, 'job': 'Producer', 'name': 'Debra Martin Chase', 'profile_path': None}, {'credit_id': '52fe43fe9251416c75025643', 'department': 'Writing', 'gender': 1, 'id': 25539, 'job': 'Screenplay', 'name': 'Shonda Rhimes', 'profile_path': '/4c77e347InbTAlw9lGvORpZBHV6.jpg'}]

In [22]:
fix_unknown_gender_col(col_name)

def get_most_common_gender(row):
    genders = [mc["gender"] for mc in row]
    if (genders == []):
        return -1
    return (collections.Counter(genders).most_common(1)[0][0])
        
# Split by job
top_jobs = [x[0] for x in get_names_counter(col_name, "job").most_common(10)]
for job in top_jobs:
    c = "crew_" + job
    print("-------------\n",job,"\n-------------")
    all_data[c] = all_data[col_name].apply(lambda x: [crew_member for crew_member in x if crew_member["job"]==job])
    all_data[c + "_common_gender"] = all_data[c].apply(lambda x: get_most_common_gender(x))
    EDA_dict(c)
    feature_engineer_dict(c)
drop_column(col_name)

-------------
 Producer
-------------
Sample values for crew_Producer
[{'credit_id': '5524ed3d92514166c1004a5d', 'department': 'Production', 'gender': 2, 'id': 57822, 'job': 'Producer', 'name': 'Andrew Panay', 'profile_path': None}]
[{'credit_id': '52fe43fe9251416c7502564f', 'department': 'Production', 'gender': 1, 'id': 8851, 'job': 'Producer', 'name': 'Whitney Houston', 'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'}, {'credit_id': '52fe43fe9251416c75025655', 'department': 'Production', 'gender': 2, 'id': 38415, 'job': 'Producer', 'name': 'Mario Iscovich', 'profile_path': None}, {'credit_id': '52fe43fe9251416c75025649', 'department': 'Production', 'gender': 1, 'id': 59973, 'job': 'Producer', 'name': 'Debra Martin Chase', 'profile_path': None}]
[{'credit_id': '52fe4ef7c3a36847f82b3fd9', 'department': 'Production', 'gender': 2, 'id': 60864, 'job': 'Producer', 'name': 'David Lancaster', 'profile_path': None}, {'credit_id': '52fe4ef7c3a36847f82b3fdf', 'department': 'Production', 'gender': 2, 'id': 66726, 'job': 'Producer', 'name': 'Michel Litvak', 'profile_path': None}, {'credit_id': '52fe4ef7c3a36847f82b3fcd', 'department': 'Production', 'gender': 2, 'id': 84348, 'job': 'Producer', 'name': 'Jason Blum', 'profile_path': None}, {'credit_id': '52fe4ef7c3a36847f82b3fd3', 'department': 'Production', 'gender': 1, 'id': 1287961, 'job': 'Producer', 'name': 'Helen Estabrook', 'profile_path': None}]
[{'credit_id': '52fe48779251416c9108d6e5', 'department': 'Production', 'gender': 0, 'id': 95510, 'job': 'Producer', 'name': 'Sujoy Ghosh', 'profile_path': None}]
[]

===================================================
Distribution of sizes for crew_Producer
2     1733
1     1729
0     1561
3     1159
4      633
5      299
6      149
7       76
8       29
9       17
10       5
11       3
16       1
12       1
14       1
22       1
13       1
Name: crew_Producer, dtype: int64

===================================================
Top names for crew_Producer
[('Joel Silver', 52), ('Brian Grazer', 49), ('Scott Rudin', 48), ('Neal H. Moritz', 44), ('Tim Bevan', 44), ('Eric Fellner', 43), ('Jerry Bruckheimer', 39), ('Arnon Milchan', 38), ('Gary Lucchesi', 31), ('John Davis', 31), ('Jason Blum', 30), ('Tom Rosenberg', 29), ('Kathleen Kennedy', 29), ('Luc Besson', 28), ('Steven Spielberg', 28), ('Ridley Scott', 27), ('Lawrence Gordon', 27), ('Roger Birnbaum', 26), ('Menahem Golan', 24), ('Clint Eastwood', 24)]
-------------
 Executive Producer
-------------
Sample values for crew_Executive Producer
[{'credit_id': '5524ed5a925141720c00112c', 'department': 'Production', 'gender': 2, 'id': 52997, 'job': 'Executive Producer', 'name': 'Rob Corddry', 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'credit_id': '5524ed85c3a3687e0e000f56', 'department': 'Production', 'gender': 2, 'id': 62807, 'job': 'Executive Producer', 'name': 'Ben Ormand', 'profile_path': None}, {'credit_id': '555ad9be9251411e5b00d485', 'department': 'Production', 'gender': 2, 'id': 57431, 'job': 'Executive Producer', 'name': 'Matt Moore', 'profile_path': None}]
[{'credit_id': '52fe43fe9251416c7502565b', 'department': 'Production', 'gender': 1, 'id': 38416, 'job': 'Executive Producer', 'name': 'Ellen H. Schwartz', 'profile_path': '/6WInjABr1sAYGXaa5qOvSrsHIqP.jpg'}]
[{'credit_id': '56407e4ac3a3685059000c7c', 'department': 'Production', 'gender': 2, 'id': 52443, 'job': 'Executive Producer', 'name': 'Jason Reitman', 'profile_path': '/bW44MnIOve5kqqtcmmbzBre0N7D.jpg'}, {'credit_id': '56407e8b9251417052000c80', 'department': 'Production', 'gender': 2, 'id': 66727, 'job': 'Executive Producer', 'name': 'Gary Michael Walters', 'profile_path': None}, {'credit_id': '56407e7f9251417052000c7c', 'department': 'Production', 'gender': 1, 'id': 1030966, 'job': 'Executive Producer', 'name': 'Jeanette Brill', 'profile_path': None}, {'credit_id': '56407e599251417050000bac', 'department': 'Production', 'gender': 0, 'id': 1319040, 'job': 'Executive Producer', 'name': 'Couper Samuelson', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Executive Producer
0     4180
1     1161
2      800
3      484
4      327
5      166
6      106
7       66
8       32
9       29
10      17
11       8
13       7
12       6
14       3
18       2
17       1
20       1
16       1
15       1
Name: crew_Executive Producer, dtype: int64

===================================================
Top names for crew_Executive Producer
[('Bob Weinstein', 78), ('Harvey Weinstein', 76), ('Bruce Berman', 54), ('Steven Spielberg', 36), ('Toby Emmerich', 33), ('Stan Lee', 32), ('Ryan Kavanaugh', 25), ('Ben Waisbren', 23), ('Michael Paseornek', 22), ('Thomas Tull', 22), ('Arnon Milchan', 22), ('Nathan Kahane', 21), ('John Lasseter', 21), ('Tessa Ross', 21), ('Gary Barber', 19), ('Richard Brener', 19), ('Liza Chasin', 18), ('Chad Oman', 18), ('Joseph Drake', 17), ('Frank Marshall', 17)]
-------------
 Director
-------------
Sample values for crew_Director
[{'credit_id': '52fe4ee7c3a36847f82afad7', 'department': 'Directing', 'gender': 2, 'id': 3227, 'job': 'Director', 'name': 'Steve Pink', 'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'}]
[{'credit_id': '52fe43fe9251416c7502563d', 'department': 'Directing', 'gender': 2, 'id': 1201, 'job': 'Director', 'name': 'Garry Marshall', 'profile_path': '/kx77E8p5rnEmKxIhFT0qWCEMEik.jpg'}]
[{'credit_id': '52fe4ef7c3a36847f82b3fad', 'department': 'Directing', 'gender': 2, 'id': 136495, 'job': 'Director', 'name': 'Damien Chazelle', 'profile_path': '/x5bpTU8b2mwgPpPDGJGWsJ1Qt3t.jpg'}]
[{'credit_id': '52fe48779251416c9108d6eb', 'department': 'Directing', 'gender': 0, 'id': 95510, 'job': 'Director', 'name': 'Sujoy Ghosh', 'profile_path': None}]
[{'credit_id': '52fe464b9251416c75073b43', 'department': 'Directing', 'gender': 0, 'id': 84749, 'job': 'Director', 'name': 'Jong-seok Yoon', 'profile_path': None}]

===================================================
Distribution of sizes for crew_Director
1     6893
2      391
3       45
0       39
4       10
5        5
6        4
7        3
12       2
27       1
11       1
30       1
10       1
21       1
8        1
Name: crew_Director, dtype: int64

===================================================
Top names for crew_Director
[('Steven Spielberg', 30), ('Clint Eastwood', 29), ('Woody Allen', 27), ('Ridley Scott', 23), ('Alfred Hitchcock', 21), ('Ron Howard', 19), ('Brian De Palma', 19), ('Martin Scorsese', 18), ('Tim Burton', 18), ('Blake Edwards', 17), ('Joel Schumacher', 17), ('Oliver Stone', 17), ('Robert Zemeckis', 17), ('Steven Soderbergh', 17), ('Wes Craven', 16), ('Renny Harlin', 16), ('Robert Rodriguez', 16), ('Tony Scott', 16), ('Walter Hill', 15), ('Richard Linklater', 15)]
-------------
 Screenplay
-------------
Sample values for crew_Screenplay
[]
[{'credit_id': '52fe43fe9251416c75025643', 'department': 'Writing', 'gender': 1, 'id': 25539, 'job': 'Screenplay', 'name': 'Shonda Rhimes', 'profile_path': '/4c77e347InbTAlw9lGvORpZBHV6.jpg'}]
[{'credit_id': '52fe4ef7c3a36847f82b3fb3', 'department': 'Writing', 'gender': 2, 'id': 136495, 'job': 'Screenplay', 'name': 'Damien Chazelle', 'profile_path': '/x5bpTU8b2mwgPpPDGJGWsJ1Qt3t.jpg'}]
[]
[]

===================================================
Distribution of sizes for crew_Screenplay
0     2977
1     2379
2     1388
3      473
4      133
5       31
6        9
7        4
8        2
10       1
12       1
Name: crew_Screenplay, dtype: int64

===================================================
Top names for crew_Screenplay
[('Sylvester Stallone', 19), ('Luc Besson', 19), ('John Hughes', 18), ('Akiva Goldsman', 16), ('David Koepp', 16), ('William Goldman', 15), ('Robert Mark Kamen', 15), ('Oliver Stone', 15), ('Woody Allen', 15), ('Richard Maibaum', 13), ('John Logan', 13), ('Terry Rossio', 13), ('Harold Ramis', 12), ('Brian Helgeland', 12), ('Ted Elliott', 12), ('John Carpenter', 11), ('Blake Edwards', 11), ('Steven Zaillian', 11), ('Eric Roth', 11), ('Lowell Ganz', 11)]
-------------
 Editor
-------------
Sample values for crew_Editor
[{'credit_id': '5524edb4925141720c00113d', 'department': 'Editing', 'gender': 0, 'id': 1451396, 'job': 'Editor', 'name': 'Jamie Gross', 'profile_path': None}]
[{'credit_id': '52fe43fe9251416c7502566d', 'department': 'Editing', 'gender': 2, 'id': 12970, 'job': 'Editor', 'name': 'Bruce Green', 'profile_path': '/yplxWPVgwK1b33AjvbhM9mWX2Aw.jpg'}]
[{'credit_id': '52fe4ef7c3a36847f82b3fbf', 'department': 'Editing', 'gender': 2, 'id': 1156888, 'job': 'Editor', 'name': 'Tom Cross', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Editor
1     4138
0     1984
2     1023
3      186
4       44
5       13
6        7
8        2
13       1
Name: crew_Editor, dtype: int64

===================================================
Top names for crew_Editor
[('Michael Kahn', 44), ('Chris Lebenzon', 36), ('Joel Cox', 26), ('Mark Goldblatt', 26), ('Conrad Buff IV', 26), ('Pietro Scalia', 25), ('Paul Hirsch', 25), ('Don Zimmerman', 24), ('Christian Wagner', 24), ('Anne V. Coates', 22), ('William Goldenberg', 22), ('Michael Tronick', 22), ('Daniel P. Hanley', 21), ('Paul Rubell', 21), ('Stephen Mirrione', 21), ('Richard Francis-Bruce', 21), ('Robert Leighton', 20), ('Sheldon Kahn', 20), ('Billy Weber', 20), ('Mark Helfrich', 20)]
-------------
 Casting
-------------
Sample values for crew_Casting
[{'credit_id': '5524edc1925141727600102e', 'department': 'Production', 'gender': 1, 'id': 22219, 'job': 'Casting', 'name': 'Susie Farris', 'profile_path': None}]
[]
[{'credit_id': '54d5356ec3a3683ba0000039', 'department': 'Production', 'gender': 1, 'id': 494, 'job': 'Casting', 'name': 'Terri Taylor', 'profile_path': None}, {'credit_id': '57898004c3a36851a8000a45', 'department': 'Production', 'gender': 1, 'id': 230436, 'job': 'Casting', 'name': 'Barbara Harris', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Casting
0    3712
1    2080
2    1066
3     381
4     107
5      43
6       6
7       3
Name: crew_Casting, dtype: int64

===================================================
Top names for crew_Casting
[('Avy Kaufman', 105), ('Mary Vernieu', 95), ('Deborah Aquila', 88), ('Tricia Wood', 83), ('Kerry Barden', 74), ('Francine Maisler', 74), ('Billy Hopkins', 65), ('Suzanne Smith', 62), ('John Papsidera', 57), ('Denise Chamian', 54), ('Jane Jenkins', 53), ('Janet Hirshenson', 52), ('Mike Fenton', 51), ('Mindy Marin', 50), ('Sarah Finn', 49), ('Debra Zane', 48), ('Ronna Kress', 46), ('Nina Gold', 46), ('Jina Jay', 46), ('Nancy Nayor', 45)]
-------------
 Director of Photography
-------------
Sample values for crew_Director of Photography
[{'credit_id': '5524eda6c3a3687e03000d28', 'department': 'Camera', 'gender': 2, 'id': 6117, 'job': 'Director of Photography', 'name': 'Declan Quinn', 'profile_path': None}]
[{'credit_id': '52fe43fe9251416c75025667', 'department': 'Camera', 'gender': 2, 'id': 1214, 'job': 'Director of Photography', 'name': 'Charles Minsky', 'profile_path': None}]
[{'credit_id': '52fe4ef7c3a36847f82b3fb9', 'department': 'Camera', 'gender': 2, 'id': 53181, 'job': 'Director of Photography', 'name': 'Sharone Meir', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Director of Photography
1     5105
0     2078
2      181
3       17
4        9
5        4
6        2
7        1
18       1
Name: crew_Director of Photography, dtype: int64

===================================================
Top names for crew_Director of Photography
[('Dean Semler', 37), ('Roger Deakins', 36), ('Mark Irwin', 33), ('Matthew F. Leonetti', 29), ('Dean Cundey', 29), ('Oliver Wood', 27), ('Robert Elswit', 27), ('Robert Richardson', 25), ('Philippe Rousselot', 24), ('Dante Spinotti', 24), ('Julio Macat', 23), ('Dariusz Wolski', 23), ('Don Burgess', 23), ('Janusz Kami≈Ñski', 22), ('Peter Deming', 22), ('John Seale', 22), ('David Tattersall', 22), ('Stephen Goldblatt', 21), ('Victor J. Kemper', 21), ('Adam Greenberg', 21)]
-------------
 Original Music Composer
-------------
Sample values for crew_Original Music Composer
[{'credit_id': '5524ed9fc3a3687e0e000f59', 'department': 'Sound', 'gender': 2, 'id': 23486, 'job': 'Original Music Composer', 'name': 'Christophe Beck', 'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'}]
[{'credit_id': '52fe43fe9251416c75025661', 'department': 'Sound', 'gender': 2, 'id': 4500, 'job': 'Original Music Composer', 'name': 'John Debney', 'profile_path': '/hTrlvZlDXQk49nfc2BM9sjKfJv.jpg'}]
[{'credit_id': '54d5355d925141716000002a', 'department': 'Sound', 'gender': 2, 'id': 1419631, 'job': 'Original Music Composer', 'name': 'Justin Hurwitz', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Original Music Composer
1    3796
0    3163
2     373
3      49
4      10
5       4
6       2
7       1
Name: crew_Original Music Composer, dtype: int64

===================================================
Top names for crew_Original Music Composer
[('James Newton Howard', 78), ('James Horner', 77), ('Hans Zimmer', 74), ('Jerry Goldsmith', 72), ('John Williams', 63), ('Danny Elfman', 55), ('Christophe Beck', 52), ('Alan Silvestri', 49), ('John Powell', 47), ('Marco Beltrami', 45), ('Howard Shore', 43), ('Graeme Revell', 42), ('John Debney', 41), ('Carter Burwell', 41), ('Mark Isham', 40), ('Thomas Newman', 38), ('Harry Gregson-Williams', 37), ('Alexandre Desplat', 36), ('Christopher Young', 35), ('Elmer Bernstein', 34)]
-------------
 Art Direction
-------------
Sample values for crew_Art Direction
[{'credit_id': '5677f8d1c3a3681689008a4b', 'department': 'Art', 'gender': 2, 'id': 66495, 'job': 'Art Direction', 'name': 'Jason Baldwin Stewart', 'profile_path': None}]
[]
[{'credit_id': '54d536529251416ba800003f', 'department': 'Art', 'gender': 0, 'id': 1423985, 'job': 'Art Direction', 'name': 'Hunter Brown', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Art Direction
0     4335
1     2213
2      527
3      156
4       72
5       43
7       16
6       16
8        7
11       4
9        4
10       3
13       1
12       1
Name: crew_Art Direction, dtype: int64

===================================================
Top names for crew_Art Direction
[('Cedric Gibbons', 21), ('Hal Pereira', 18), ('Helen Jarvis', 15), ('Lyle R. Wheeler', 15), ('David Lazan', 14), ('Andrew Max Cahn', 14), ('Jack Martin Smith', 14), ('Robert Cowper', 13), ('Stuart Rose', 13), ('David F. Klassen', 13), ('Dan Webster', 12), ('Steven Lawrence', 12), ('Jesse Rosenthal', 12), ('Richard L. Johnson', 12), ('Kevin Constant', 12), ('Ravi Bansal', 12), ('William Ladd Skinner', 12), ('John Kasarda', 11), ('Dawn Swiderski', 11), ('Tony Reading', 11)]
-------------
 Production Design
-------------
Sample values for crew_Production Design
[{'credit_id': '5524edd192514171cb008257', 'department': 'Art', 'gender': 2, 'id': 1002643, 'job': 'Production Design', 'name': 'Ryan Berg', 'profile_path': None}]
[]
[{'credit_id': '54d53537c3a3683b9c00002f', 'department': 'Art', 'gender': 1, 'id': 1186280, 'job': 'Production Design', 'name': 'Melanie Jones', 'profile_path': None}]
[]
[]

===================================================
Distribution of sizes for crew_Production Design
1    3694
0    3546
2     149
3       6
5       1
8       1
4       1
Name: crew_Production Design, dtype: int64

===================================================
Top names for crew_Production Design
[('J. Michael Riva', 21), ('Jon Hutman', 18), ('Carol Spier', 18), ('Ida Random', 17), ('Dennis Gassner', 17), ('Perry Andelin Blake', 17), ('David Gropman', 17), ('Mark Friedberg', 17), ('Rick Carter', 17), ('Stuart Craig', 17), ('Jim Clay', 17), ('Kristi Zea', 16), ('David Wasco', 16), ('Wynn Thomas', 16), ('Dante Ferretti', 16), ('Nelson Coates', 16), ('James D. Bissell', 16), ('Terence Marsh', 15), ('Thomas E. Sanders', 15), ('Maher Ahmad', 15)]

# cast

In [23]:
col_name = "cast"
# EDA_dict(col_name)

In [24]:
fix_unknown_gender_col(col_name)

# Split by gender
genders = [x[0] for x in get_names_counter(col_name, "gender").most_common(2)]
for gender in genders:
    c = "cast_gender_" + str(gender)
    all_data[c] = all_data[col_name].apply(lambda x: [cast_member for cast_member in x if cast_member["gender"]==gender])
    #print("-------------\n",gender,"\n-------------")
    EDA_dict(c)
    feature_engineer_dict(c)
drop_column(col_name)

Sample values for cast_gender_2
[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, 'character': 'Jacob', 'credit_id': '52fe4ee7c3a36847f82afaef', 'gender': 2, 'id': 54729, 'name': 'Clark Duke', 'order': 2, 'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'}, {'cast_id': 7, 'character': 'Adam Jr.', 'credit_id': '52fe4ee7c3a36847f82afaf3', 'gender': 2, 'id': 36801, 'name': 'Adam Scott', 'order': 3, 'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'}, {'cast_id': 8, 'character': 'Hot Tub Repairman', 'credit_id': '52fe4ee7c3a36847f82afaf7', 'gender': 2, 'id': 54812, 'name': 'Chevy Chase', 'order': 4, 'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'}, {'cast_id': 13, 'character': 'Brad', 'credit_id': '5524ec8ec3a3687ded000d72', 'gender': 2, 'id': 466505, 'name': 'Kumail Nanjiani', 'order': 9, 'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'}, {'cast_id': 15, 'character': 'Terry', 'credit_id': '5524eca892514171cb008237', 'gender': 2, 'id': 347335, 'name': 'Josh Heald', 'order': 11, 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'cast_id': 19, 'character': 'Himself', 'credit_id': '5524ece6925141718d001009', 'gender': 2, 'id': 1451393, 'name': 'Bruce Buffer', 'order': 15, 'profile_path': None}, {'cast_id': 33, 'character': 'Choozy Doozy Host', 'credit_id': '555844da9251412afe0013a9', 'gender': 2, 'id': 2224, 'name': 'Christian Slater', 'order': 17, 'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'}, {'cast_id': 35, 'character': 'Gary Winkle', 'credit_id': '55872027c3a3683853005074', 'gender': 2, 'id': 185805, 'name': 'Jason Jones', 'order': 18, 'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'}, {'cast_id': 64, 'character': 'Adam (uncredited)', 'credit_id': '58f2135ac3a3682e95008b91', 'gender': 2, 'id': 3036, 'name': 'John Cusack', 'order': 22, 'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'}, {'cast_id': 65, 'character': 'J-Bird', 'credit_id': '59ac0240c3a3682cc802c399', 'gender': 2, 'id': 59256, 'name': 'Adam Herschman', 'order': 23, 'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'}]
[{'cast_id': 3, 'character': 'Joe', 'credit_id': '52fe43fe9251416c75025627', 'gender': 2, 'id': 1210, 'name': 'H√©ctor Elizondo', 'order': 2, 'profile_path': '/48UNfVFZVr0jyMIlLPhzm8IIM7f.jpg'}, {'cast_id': 4, 'character': 'Viscount Mabrey', 'credit_id': '52fe43fe9251416c7502562b', 'gender': 2, 'id': 655, 'name': 'John Rhys-Davies', 'order': 3, 'profile_path': '/zZ67PuoFfik9QlZyfaEsFBC1yVJ.jpg'}, {'cast_id': 6, 'character': 'Nicholas Devereaux', 'credit_id': '52fe43fe9251416c75025633', 'gender': 2, 'id': 62064, 'name': 'Chris Pine', 'order': 5, 'profile_path': '/vSe6sIsdtcoqBhuWRXynahFg8Vf.jpg'}, {'cast_id': 7, 'character': 'Andrew Jacoby', 'credit_id': '52fe43fe9251416c75025637', 'gender': 2, 'id': 68287, 'name': 'Callum Blue', 'order': 6, 'profile_path': '/3qf8rLoWmXOcCA8Rs9RPIEQ9yLB.jpg'}, {'cast_id': 17, 'character': 'Paolo', 'credit_id': '52fe43fe9251416c75025671', 'gender': 2, 'id': 1211, 'name': 'Larry Miller', 'order': 7, 'profile_path': '/xA8zCxNrwtamLaLWNBkLyX5tGtU.jpg'}, {'cast_id': 23, 'character': 'Baron Siegfried von Troken', 'credit_id': '56c0ad8cc3a36817f400cc2d', 'gender': 2, 'id': 33832, 'name': 'Greg Lewis', 'order': 13, 'profile_path': '/ys6erqERBQhfTsvCiarmwH8daUm.jpg'}, {'cast_id': 25, 'character': 'Lord Crawley', 'credit_id': '575e0bc1c3a3683731002094', 'gender': 2, 'id': 155403, 'name': 'Paul Vogt', 'order': 15, 'profile_path': None}, {'cast_id': 26, 'character': 'Monsieur Dupont', 'credit_id': '57c8cc429251410d5000019d', 'gender': 2, 'id': 1665036, 'name': 'Joseph Leo Bwarie', 'order': 16, 'profile_path': '/9H8u70pOBdk0xZsRcKIleBEAyLK.jpg'}, {'cast_id': 28, 'character': 'Lord Peroit', 'credit_id': '57eecf689251416cd60095c1', 'gender': 2, 'id': 1451161, 'name': 'Rowan Joseph', 'order': 18, 'profile_path': '/6zUforjrDfcPoP8YMsdIaoygHmz.jpg'}, {'cast_id': 29, 'character': 'Genovian Cafe Owner', 'credit_id': '57eed0ff9251415ddb00752b', 'gender': 2, 'id': 156005, 'name': 'Jeffrey Scott Jensen', 'order': 19, 'profile_path': '/mW0EwKomK5u3WSmkL60V2HWLhCu.jpg'}]
[{'cast_id': 5, 'character': 'Andrew Neimann', 'credit_id': '52fe4ef7c3a36847f82b3fc3', 'gender': 2, 'id': 996701, 'name': 'Miles Teller', 'order': 0, 'profile_path': '/o2wfvYAvspsKqYVt4ORR8VWjB7H.jpg'}, {'cast_id': 6, 'character': 'Terence Fletcher', 'credit_id': '52fe4ef7c3a36847f82b3fc7', 'gender': 2, 'id': 18999, 'name': 'J.K. Simmons', 'order': 1, 'profile_path': '/jPoNW5fugs5h8AbcE7H5OBm04Tm.jpg'}, {'cast_id': 12, 'character': 'Ryan', 'credit_id': '52fe4ef7c3a36847f82b3fe7', 'gender': 2, 'id': 970216, 'name': 'Austin Stowell', 'order': 3, 'profile_path': '/su6KMYwfr4qVXRjlXi4u0h16Fxg.jpg'}, {'cast_id': 13, 'character': 'Travis', 'credit_id': '52fe4ef7c3a36847f82b3feb', 'gender': 2, 'id': 223012, 'name': 'Jayson Blair', 'order': 4, 'profile_path': '/lqWVUUOBrv4ANxyvsv5aagc6CBq.jpg'}, {'cast_id': 15, 'character': 'Mr. Neyman', 'credit_id': '5466cd46eaeb817274000acb', 'gender': 2, 'id': 781, 'name': 'Paul Reiser', 'order': 6, 'profile_path': '/fr53dQQrDGfETgbliCktwKqteRU.jpg'}, {'cast_id': 22, 'character': 'Carl Tanner', 'credit_id': '5525414d925141720c001b56', 'gender': 2, 'id': 1451540, 'name': 'Nate Lang', 'order': 7, 'profile_path': None}, {'cast_id': 23, 'character': 'Uncle Frank', 'credit_id': '5525415fc3a3687df80016c4', 'gender': 2, 'id': 15824, 'name': 'Chris Mulkey', 'order': 8, 'profile_path': '/ibXN9Ho0nCF4jbGHeQYRHI8AMjH.jpg'}, {'cast_id': 24, 'character': 'Mr. Kramer', 'credit_id': '5525416c9251417276001927', 'gender': 2, 'id': 53454, 'name': 'Damon Gupton', 'order': 9, 'profile_path': '/8t8IBqQjRJkPcugmcAAn1C7J0pg.jpg'}, {'cast_id': 26, 'character': 'Dorm Neighbor', 'credit_id': '552541869251417be200a8f2', 'gender': 2, 'id': 52939, 'name': 'Max Kasch', 'order': 11, 'profile_path': '/4NzNJEJ6NWU40GKO6BS1Ne6ECNL.jpg'}, {'cast_id': 27, 'character': 'Dustin', 'credit_id': '552541959251415c7c00bd61', 'gender': 2, 'id': 1451542, 'name': 'Charlie Ian', 'order': 12, 'profile_path': None}, {'cast_id': 29, 'character': 'Bassist (Nassau)', 'credit_id': '552541ae925141720c001b71', 'gender': 2, 'id': 1451543, 'name': 'Kofi Siriboe', 'order': 14, 'profile_path': '/4qxcHkPIMUMZCW7UNH9kIfRndgS.jpg'}, {'cast_id': 33, 'character': 'Saxophonist #2 (Studio Band)', 'credit_id': '55e6d136c3a3685f98002c48', 'gender': 2, 'id': 1398714, 'name': 'Tyler Kimball', 'order': 18, 'profile_path': None}, {'cast_id': 35, 'character': 'Trumpeter #2 (Studio Band)', 'credit_id': '55e6d137c3a3685f9100272e', 'gender': 2, 'id': 1503834, 'name': 'Adrian Burks', 'order': 20, 'profile_path': None}, {'cast_id': 36, 'character': 'Technician (Overbrook) - Mike', 'credit_id': '55e6d1379251410f0a0026b6', 'gender': 2, 'id': 1503835, 'name': 'Joseph Bruno', 'order': 21, 'profile_path': None}, {'cast_id': 37, 'character': 'Stage Hand (Overbrook)', 'credit_id': '55e6d1379251410f0d002526', 'gender': 2, 'id': 1296849, 'name': 'Michael D. Cohen', 'order': 22, 'profile_path': None}, {'cast_id': 39, 'character': 'Truck Driver', 'credit_id': '55e6d1389251410f0700274e', 'gender': 2, 'id': 1503836, 'name': 'Keenan Henson', 'order': 24, 'profile_path': None}, {'cast_id': 42, 'character': 'Drummer (Quartet)', 'credit_id': '55e6d139c3a3685f98002c4c', 'gender': 2, 'id': 1503838, 'name': "Clifton 'Fou Fou' Eddie", 'order': 27, 'profile_path': None}, {'cast_id': 43, 'character': 'Saxophonist', 'credit_id': '55e6d22f9251410f1300293a', 'gender': 2, 'id': 1145677, 'name': 'Calvin C. Winbush', 'order': 28, 'profile_path': None}, {'cast_id': 44, 'character': 'Bassist (JVC)', 'credit_id': '55e6d22fc3a3685f98002c83', 'gender': 2, 'id': 1291961, 'name': 'Marcus Henderson', 'order': 29, 'profile_path': '/5ggLbrE91uYCq3YyN0pI3bDAPbK.jpg'}, {'cast_id': 45, 'character': 'Stage Hand (Carnegie Hall)', 'credit_id': '55e6d2309251410f17002943', 'gender': 2, 'id': 1503841, 'name': 'Tony Baker', 'order': 30, 'profile_path': None}, {'cast_id': 46, 'character': 'Red Henderson', 'credit_id': '55e6d230c3a3685f96002a6b', 'gender': 2, 'id': 16506, 'name': 'Henry G. Sanders', 'order': 31, 'profile_path': '/2SU75g2CAIzGWbgfIlNvKZQhYTZ.jpg'}, {'cast_id': 47, 'character': 'Andrew (8 years old)', 'credit_id': '55e6d2309251410f0a0026e0', 'gender': 2, 'id': 1503842, 'name': 'Sam Campisi', 'order': 32, 'profile_path': None}, {'cast_id': 48, 'character': 'Nassau Trumpeter #2', 'credit_id': '55e6d231c3a3685f96002a6e', 'gender': 2, 'id': 1503843, 'name': 'Jimmie Kirkpatrick', 'order': 33, 'profile_path': None}, {'cast_id': 49, 'character': 'Studio Core Member #1', 'credit_id': '55e6d2319251410f040027d9', 'gender': 2, 'id': 1503844, 'name': 'Keenan Allen', 'order': 34, 'profile_path': None}, {'cast_id': 56, 'character': 'JVC Trumpet Player (uncredited)', 'credit_id': '55e6d2339251410f040027de', 'gender': 2, 'id': 1503850, 'name': 'Damien Coates', 'order': 41, 'profile_path': None}, {'cast_id': 57, 'character': 'JVC Alto Jazz Saxophone Player (uncredited)', 'credit_id': '55e6d233c3a3685f8e00263c', 'gender': 2, 'id': 1503851, 'name': 'Kyle Julian Graham', 'order': 42, 'profile_path': None}, {'cast_id': 59, 'character': 'JVC Guitarist (uncredited)', 'credit_id': '55e6d234c3a3685f98002c8c', 'gender': 2, 'id': 1503853, 'name': 'Stephen Hsu', 'order': 44, 'profile_path': None}, {'cast_id': 60, 'character': 'Music Competition Judge (uncredited)', 'credit_id': '55e6d234c3a3685f9100275a', 'gender': 2, 'id': 1503854, 'name': 'Herman Johansen', 'order': 45, 'profile_path': None}, {'cast_id': 63, 'character': 'Rival Band Saxophonist (uncredited)', 'credit_id': '55e6d2359251410f1000285a', 'gender': 2, 'id': 1503856, 'name': 'Jesse Mitchell', 'order': 48, 'profile_path': None}, {'cast_id': 65, 'character': 'Bartender (uncredited)', 'credit_id': '55e6d2369251410f0d002555', 'gender': 2, 'id': 1360008, 'name': 'Joseph Oliveira', 'order': 50, 'profile_path': '/nFJX5qWKlHyew7AHKUFE3EQnMO5.jpg'}, {'cast_id': 67, 'character': 'Studio Band Saxophone Player (uncredited)', 'credit_id': '55e6d2369251410f0d002558', 'gender': 2, 'id': 1503858, 'name': 'Daniel Weidlein', 'order': 52, 'profile_path': None}]
[{'cast_id': 5, 'character': '', 'credit_id': '57722abec3a368245b004519', 'gender': 2, 'id': 85047, 'name': 'Nawazuddin Siddiqui', 'order': 1, 'profile_path': '/2Kv2ENAs1ETAFTQ6mC1jbDzEzIN.jpg'}, {'cast_id': 9, 'character': '', 'credit_id': '57722b38c3a3682468004294', 'gender': 2, 'id': 92686, 'name': 'Darshan Jariwala', 'order': 5, 'profile_path': '/lWDqLNG6FKNv4VSQILiRMPxJ7Hh.jpg'}]
[{'cast_id': 3, 'character': 'Chun-soo', 'credit_id': '52fe464b9251416c75073b47', 'gender': 2, 'id': 84751, 'name': 'Kim Kang-woo', 'order': 0, 'profile_path': '/lJvcgUx1qEnNfGcCtbmp3EC5vCG.jpg'}, {'cast_id': 4, 'character': 'Company president Kang', 'credit_id': '52fe464b9251416c75073b4b', 'gender': 2, 'id': 64453, 'name': 'Jo Jae-hyeon', 'order': 1, 'profile_path': '/2QVUP8t3zmKcwlm7IBOzPVikKe7.jpg'}, {'cast_id': 5, 'character': 'Yu-ri', 'credit_id': '52fe464b9251416c75073b4f', 'gender': 2, 'id': 84752, 'name': 'Park Si-yeon', 'order': 2, 'profile_path': '/pIWhmT2GTVcaNTb6Qta2KS9jyTT.jpg'}, {'cast_id': 7, 'character': 'Company president Hwang', 'credit_id': '52fe464b9251416c75073b59', 'gender': 2, 'id': 1130534, 'name': 'Kim Joon-bae', 'order': 3, 'profile_path': '/pMy3HSxj6DdysI1P2tpjcD4FyWM.jpg'}]

===================================================
Distribution of sizes for cast_gender_2
8      493
7      486
6      483
5      474
9      464
10     448
11     395
4      383
12     379
3      328
13     318
14     281
15     203
2      197
16     181
18     163
17     144
1      123
19     112
21     109
20     106
22      97
0       97
24      68
25      64
27      56
26      51
23      50
28      49
29      45
      ...
55       4
60       4
64       4
75       4
76       4
65       4
59       3
57       3
62       3
83       3
79       2
72       2
68       2
71       2
85       2
97       2
73       2
69       2
82       2
88       2
95       1
92       1
96       1
93       1
91       1
74       1
78       1
90       1
102      1
117      1
Name: cast_gender_2, Length: 91, dtype: int64

===================================================
Top names for cast_gender_2
[('Samuel L. Jackson', 80), ('Robert De Niro', 71), ('Bruce Willis', 62), ('Morgan Freeman', 61), ('Liam Neeson', 57), ('Willem Dafoe', 55), ('Steve Buscemi', 55), ('Sylvester Stallone', 54), ('Nicolas Cage', 54), ('Matt Damon', 51), ('J.K. Simmons', 50), ('John Goodman', 50), ('Christopher Walken', 50), ('Robin Williams', 50), ('Johnny Depp', 48), ('Stanley Tucci', 47), ('Harrison Ford', 46), ('Richard Jenkins', 46), ('Ben Stiller', 46), ('Brad Pitt', 46)]
Sample values for cast_gender_1
[{'cast_id': 9, 'character': 'Jill', 'credit_id': '52fe4ee7c3a36847f82afafb', 'gender': 1, 'id': 94098, 'name': 'Gillian Jacobs', 'order': 5, 'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'}, {'cast_id': 10, 'character': 'Sophie', 'credit_id': '52fe4ee7c3a36847f82afaff', 'gender': 1, 'id': 1159009, 'name': 'Bianca Haase', 'order': 6, 'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'}, {'cast_id': 11, 'character': 'Kelly', 'credit_id': '5524ec51c3a3687df3000dbb', 'gender': 1, 'id': 86624, 'name': 'Collette Wolfe', 'order': 7, 'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'}, {'cast_id': 14, 'character': 'Courtney', 'credit_id': '5524ec9bc3a3687df8000d13', 'gender': 1, 'id': 70776, 'name': 'Kellee Stewart', 'order': 10, 'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'}, {'cast_id': 16, 'character': 'Susan', 'credit_id': '5524ecb7925141720c001116', 'gender': 1, 'id': 1451392, 'name': 'Gretchen Koerner', 'order': 12, 'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'}, {'cast_id': 17, 'character': 'Herself', 'credit_id': '5524ecc3c3a3687ded000d74', 'gender': 1, 'id': 98879, 'name': 'Lisa Loeb', 'order': 13, 'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'}, {'cast_id': 18, 'character': 'Herself', 'credit_id': '5524ecd3c3a3687e11000ed3', 'gender': 1, 'id': 1394648, 'name': 'Jessica Williams', 'order': 14, 'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'}, {'cast_id': 36, 'character': 'Bridesmaid', 'credit_id': '55efe971c3a368090c00cd1b', 'gender': 1, 'id': 1507448, 'name': 'Olivia Jordan', 'order': 19, 'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'}, {'cast_id': 37, 'character': 'Christine', 'credit_id': '55efe980c3a36871bf008176', 'gender': 1, 'id': 1334091, 'name': 'Christine Bently', 'order': 20, 'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'}, {'cast_id': 38, 'character': 'Excited Girl', 'credit_id': '55efe98e9251413e3201d316', 'gender': 1, 'id': 557803, 'name': 'Stacey Asaro', 'order': 21, 'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'}, {'cast_id': 66, 'character': 'Bridesmaid', 'credit_id': '59ac02cd925141079d02b1b4', 'gender': 1, 'id': 129714, 'name': 'Kisha Sierra', 'order': 24, 'profile_path': None}]
[{'cast_id': 1, 'character': 'Mia Thermopolis', 'credit_id': '52fe43fe9251416c7502561f', 'gender': 1, 'id': 1813, 'name': 'Anne Hathaway', 'order': 0, 'profile_path': '/jUMOKwSUBnTcMeN1HfhutiY49Ad.jpg'}, {'cast_id': 2, 'character': 'Queen Clarisse Renaldi', 'credit_id': '52fe43fe9251416c75025623', 'gender': 1, 'id': 5823, 'name': 'Julie Andrews', 'order': 1, 'profile_path': '/6t61jkmfSA6nbYRCKR9s97CgUN6.jpg'}, {'cast_id': 5, 'character': 'Lilly Moscovitz', 'credit_id': '52fe43fe9251416c7502562f', 'gender': 1, 'id': 33656, 'name': 'Heather Matarazzo', 'order': 4, 'profile_path': '/xcwR8aPuSkUCDPIyKU049M1CXph.jpg'}, {'cast_id': 18, 'character': 'Asana', 'credit_id': '52fe43fe9251416c75025675', 'gender': 1, 'id': 66896, 'name': 'Raven-Symon√©', 'order': 8, 'profile_path': '/nzklI9bgqsUKVWlnQcT5lSrCyaM.jpg'}, {'cast_id': 19, 'character': 'Charlotte Kutaway', 'credit_id': '52fe43fe9251416c75025679', 'gender': 1, 'id': 303542, 'name': 'Kathleen Marshall', 'order': 9, 'profile_path': '/4ANxOHPa81aqLyP8BQxkwmZrWgK.jpg'}, {'cast_id': 21, 'character': "Mia's Mom Helen", 'credit_id': '5687f876c3a3685f8900e2a1', 'gender': 1, 'id': 6692, 'name': 'Caroline Goodall', 'order': 10, 'profile_path': '/f3L5WmEtGjjONTe8qvBZOy2dWTJ.jpg'}, {'cast_id': 20, 'character': 'Princess Lorraine', 'credit_id': '5687f825c3a36860e9023861', 'gender': 1, 'id': 966053, 'name': 'Lorraine Nicholson', 'order': 11, 'profile_path': '/eCsoySifBALa6UecWWQ6XShkkeV.jpg'}, {'cast_id': 22, 'character': 'Lady Salsa', 'credit_id': '56b67fc4c3a3680700009953', 'gender': 1, 'id': 95469, 'name': 'Shannon Wilcox', 'order': 12, 'profile_path': '/dQTvcWdLyB5RIWNQxk4DWn6ko59.jpg'}, {'cast_id': 24, 'character': 'Carolina', 'credit_id': '575e0b469251415dd2004e97', 'gender': 1, 'id': 17140, 'name': 'Abigail Breslin', 'order': 14, 'profile_path': '/5zM4beIvrFKICiJXhQCqY3ORngR.jpg'}, {'cast_id': 27, 'character': 'Lady Caroline', 'credit_id': '57dd9a1092514178550018e1', 'gender': 1, 'id': 83053, 'name': 'Hope Alexander-Willis', 'order': 17, 'profile_path': '/uMA3E1OUniek80LNbqf8ejK2edW.jpg'}]
[{'cast_id': 11, 'character': 'Nicole', 'credit_id': '52fe4ef7c3a36847f82b3fe3', 'gender': 1, 'id': 129104, 'name': 'Melissa Benoist', 'order': 2, 'profile_path': '/fj3Va0w2OyKaQALGomMgpq2B2Fu.jpg'}, {'cast_id': 14, 'character': 'Assistant - Sophie', 'credit_id': '52fe4ef7c3a36847f82b3fef', 'gender': 1, 'id': 159366, 'name': 'Kavita Patil', 'order': 5, 'profile_path': '/z5tSybvNYudaFK2db7bTw9tDqyP.jpg'}, {'cast_id': 38, 'character': 'Passerby (Bus Station)', 'credit_id': '55e6d1389251410f10002836', 'gender': 1, 'id': 1098246, 'name': 'Jocelyn Ayanna', 'order': 23, 'profile_path': '/98oAzcosJLJHqHFENiWdnnv3n3J.jpg'}, {'cast_id': 40, 'character': 'Passerby (Dunellen)', 'credit_id': '55e6d138c3a3685f8e00261a', 'gender': 1, 'id': 1503837, 'name': 'Janet Hoskins', 'order': 25, 'profile_path': None}, {'cast_id': 41, 'character': 'Rachel Bornholdt', 'credit_id': '55e6d138c3a3685f91002733', 'gender': 1, 'id': 10691, 'name': 'April Grace', 'order': 26, 'profile_path': '/9vHFcPQS463AjDgst7vFJy6ZUnA.jpg'}, {'cast_id': 53, 'character': 'Student #1', 'credit_id': '55e6d232c3a3685f98002c86', 'gender': 1, 'id': 1503847, 'name': 'Candace Roberge', 'order': 38, 'profile_path': None}, {'cast_id': 54, 'character': 'Student #2', 'credit_id': '55e6d2329251410f13002943', 'gender': 1, 'id': 1503848, 'name': 'Krista Kilber', 'order': 39, 'profile_path': None}, {'cast_id': 55, 'character': 'Diner Patron (uncredited)', 'credit_id': '55e6d233c3a3685f96002a75', 'gender': 1, 'id': 1503849, 'name': 'Cici Leah Campbell', 'order': 40, 'profile_path': '/eV5g6RZ5OVVg2kEYkYu8MndanD6.jpg'}, {'cast_id': 61, 'character': 'Audience Member (uncredited)', 'credit_id': '55e6d234c3a3685f9e002777', 'gender': 1, 'id': 79051, 'name': 'Wendee Lee', 'order': 46, 'profile_path': '/4hZsZj6YItnzaXSHdsCxSDA3s4l.jpg'}, {'cast_id': 64, 'character': 'JVC Trombonist (uncredited)', 'credit_id': '55e6d235c3a3685fa0002166', 'gender': 1, 'id': 1503857, 'name': 'Amanda Newman', 'order': 49, 'profile_path': None}, {'cast_id': 66, 'character': 'Audience Member (uncredited)', 'credit_id': '55e6d236c3a3685f9e002779', 'gender': 1, 'id': 81380, 'name': 'Michelle Ruff', 'order': 51, 'profile_path': None}]
[{'cast_id': 1, 'character': 'Vidya Bagchi', 'credit_id': '52fe48779251416c9108d6d9', 'gender': 1, 'id': 35068, 'name': 'Vidya Balan', 'order': 0, 'profile_path': '/anMmmqKY11jcm0UnSSakfNOSCyB.jpg'}]
[]

===================================================
Distribution of sizes for cast_gender_1
2     934
3     929
4     860
5     750
1     688
6     634
7     457
8     356
0     322
9     280
11    193
10    192
12    142
13     94
14     90
15     76
17     55
16     52
19     43
18     38
20     24
21     21
22     21
24     19
23     18
25     12
34      9
26      9
32      8
30      7

# homepage

In [25]:
# Add an indicator for lack of homepage
all_data["no_homepage"] = all_data["homepage"].isnull()
print(all_data["no_homepage"].value_counts())
# Create a list of all homepages that appear more than once
multiple_homepages = all_data["homepage"].value_counts()
multiple_homepages = multiple_homepages[multiple_homepages>1].index.tolist()
print("There are ", len(multiple_homepages), "homepages which appear more than once")
# All the unique homepages are not interesting, replace them with null
all_data.loc[all_data["homepage"].isin(multiple_homepages) == False, "homepage"] = "" 
# Encode the strings
encode_column("homepage")

True     5032
False    2366
Name: no_homepage, dtype: int64
There are  26 homepages which appear more than once

# budget

In [26]:
# all_data["budget"].value_counts().sort_index()
# all_data[(all_data.budget>0) & (all_data.budget<1000)][["budget","release_date_year","title"]]
all_data["no_budget"] =(all_data["budget"] == 0)
# all_data[(all_data.budget>0) & (all_data.budget<1000), "budget"] = all_data["budget"] * 1000000
# all_data.head()
all_data["log_budget"]=np.log1p(all_data["budget"])

# mpaa_rating

In [27]:
# Ratings have the following format: Rated <rating> for <reason>
# Remove the word "Rating at the beginning"
all_data["mpaa_rating"] = all_data["mpaa_rating"].apply(lambda s: s.split(" ", 1)[1] if isinstance(s, str) else s)
# Set the reason to be the sentence after ""<rating> for"
all_data["mpaa_rating_reason"] = all_data["mpaa_rating"].apply(lambda s: s.split(" ", 2)[2] if isinstance(s, str) else s)
# Set the rating to be the first word
all_data["mpaa_rating"] = all_data["mpaa_rating"].apply(lambda s: s.split(" ", 1)[0] if isinstance(s, str) else s)
all_data["mpaa_rating"].value_counts()

R        2473
PG-13    1578
PG        654
NC-17      12
Name: mpaa_rating, dtype: int64

In [28]:
encode_column("mpaa_rating")

In [29]:
def SplitReason(r):
    s = r.strip().replace("  ", " ").replace(", and for ", ", ").replace(", and ", ", ")
    rl = s.rsplit(" and ", 1)
    rl2 = rl[0].split(", ")
    if len(rl)>1:
        rl2.append(rl[1])
    return (rl2)

# Split the reasons, create an indicator column for the top reasons
col_name = "mpaa_rating_reason"
all_data[col_name] = all_data[col_name].apply(lambda s: SplitReason(s) if isinstance(s, str) else [])
reason_list_list = list(all_data[col_name].values)
top_reasons = [reason[0] for reason in collections.Counter([i for reason_list in reason_list_list for i in reason_list]).most_common(100)]
for reason in top_reasons:
    all_data[col_name + "_" + reason] = all_data[col_name].apply(lambda x: reason in x)
all_data.head()
drop_column(col_name)

In [30]:
# Drop unneeded columns

# Drop all columns which haven't been handled yet. We'll gradually add them back later on
all_data.drop(['imdb_id'], axis=1, inplace=True)
all_data.drop(['original_title'], axis=1, inplace=True)
all_data.drop(['overview'], axis=1, inplace=True)
all_data.drop(['poster_path'], axis=1, inplace=True)
all_data.drop(['status'], axis=1, inplace=True)
all_data.drop(['tagline'], axis=1, inplace=True)
all_data.drop(['title'], axis=1, inplace=True)
all_data.drop(['Keywords'], axis=1, inplace=True)

drop_column("imdb_release")
drop_column("imdb_budget")
drop_column("imdb_country")

In [31]:
# Split back to train and test
train = all_data[:train_rows]
test = all_data[train_rows:]
train.describe()

             budget     homepage     ...       cast_gender_1_size   log_budget
count  3.000000e+03  3000.000000     ...               3000.00000  3000.000000
mean   2.253133e+07     0.110000     ...                  5.76900    11.878667
std    3.702609e+07     1.488614     ...                  5.87337     7.441843
min    0.000000e+00     0.000000     ...                  0.00000     0.000000
25%    0.000000e+00     0.000000     ...                  2.00000     0.000000
50%    8.000000e+06     0.000000     ...                  4.00000    15.894952
75%    2.900000e+07     0.000000     ...                  7.00000    17.182806
max    3.800000e+08    25.000000     ...                 97.00000    19.755682

[8 rows x 37 columns]

In [32]:
# Create a model
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from catboost import CatBoostRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb

#Validation function
n_folds = 5

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train.values)
    rmse = np.sqrt(-cross_val_score(model, train.values, y_train, scoring="neg_mean_squared_error", cv=kf))
    return(rmse)

def eval_model(model, name):
    start_time = time.time()
    score = rmsle_cv(model)
    print("{} score: {:.4f} ({:.4f}),     execution time: {:.1f}".format(name, score.mean(), score.std(), time.time()-start_time))

In [33]:
mod_lasso = make_pipeline(RobustScaler(), Lasso(alpha=0.005, random_state=1))
eval_model(mod_lasso, "lasso")
mod_enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
eval_model(mod_enet, "enet")
mod_cat = CatBoostRegressor(iterations=10000, learning_rate=0.01,
                            depth=5, eval_metric='RMSE',
                            colsample_bylevel=0.7, random_seed = 17, silent=True,
                            bagging_temperature = 0.2, early_stopping_rounds=200)
eval_model(mod_cat, "cat")
mod_gboost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=5, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state=5)
eval_model(mod_gboost, "gboost")
mod_xgb = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state=7, nthread=-1)
eval_model(mod_xgb, "xgb")
mod_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=8,
                              learning_rate=0.05, n_estimators=650,
                              max_bin=58, bagging_fraction=0.80,
                              bagging_freq=5, feature_fraction=0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf=7, min_sum_hessian_in_leaf=11)
eval_model(mod_lgb, "lgb")

lasso score: 2.1649 (0.0994),     execution time: 3.5
enet score: 2.2489 (0.0796),     execution time: 5.6
cat score: 2.1007 (0.0825),     execution time: 683.6
gboost score: 2.0868 (0.0816),     execution time: 80.0
xgb score: 2.1116 (0.0889),     execution time: 72.0
lgb score: 2.0561 (0.0972),     execution time: 2.3

In [34]:
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
   
    # We again fit the data on clones of the original models
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
        # Train cloned base models then create out-of-fold predictions
        # that are needed to train the cloned meta-model
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred
                
        # Now train the cloned  meta-model using the out-of-fold predictions as new feature
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
   
    #Do the predictions of all base models on the test data and use the averaged predictions as 
    #meta-features for the final prediction which is done by the meta-model
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)
    
mod_stacked = StackingAveragedModels(base_models = (mod_cat, mod_xgb, mod_gboost, mod_lgb), meta_model = mod_lasso)
eval_model(mod_stacked, "stacked")

stacked score: 2.0375 (0.0962),     execution time: 3922.0

In [35]:
def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

def predict(model):
    model.fit(train.values, y_train)
    train_pred = model.predict(train.values)
    pred = np.expm1(model.predict(test.values))
    print(rmsle(y_train, train_pred))
    return (pred)

In [36]:
# Predict
# Start with a simple model
prediction = predict(mod_lasso)
prediction = predict(mod_enet)
prediction = predict(mod_xgb)
prediction = predict(mod_gboost)
prediction = predict(mod_lgb)
prediction = predict(mod_stacked)

2.087295127866839
1.9953493305153052
0.9266918192823541
1.3087767809939983
1.465247782384994
1.4063740463752452

In [37]:
# Submit
submission = pd.DataFrame()
submission['id'] = test_ID
submission['revenue'] = prediction
submission.to_csv('submission.csv', index=False)

In [38]:
# Log                     Estimate Public score
# baseline:               2.6454   2.68084    v2
# belong_to_collection:   2.6437   2.67052    v5
# genres:                 2.5476   2.59730    v6
# production_companies:   2.4396   2.49865    v7
# production_countries:   2.4340   2.47048    v8
# spoken_languages:       2.4316   2.46744    v9
# release_date:           2.4274   2.46433    v10
# runtime:                2.4034   2.42784    v11
# original_language       2.4050   2.42811    v12 - no improvement
# crew                    2.3649   2.38779    v13
# cast                    2.3714   2.40004    v14 - no improvement. Maybe it means that we are overfitting with so many columns.
# stacked model           2.0624   2.02996    v15
# Fix years (century)     2.0632   2.03133    v16 - didn't help
# homepage                2.0623   2.02096    v17
# added no_budget         2.0551   2.02131    v19 - didn't help
# added log(budget)       2.0417   1.99055    v20
# filled runtime from imdb2.0424   1.99148    v21 - didn't help
# fixed century of 4 items2.0448   1.99040    v22
# add mpaa_rating         2.0333   1.97524    v23
# add mpaa_rating_reason  2.0473   1.97890    v24
# add cat model, rem lasso2.1055   2.01712    v25
# bring back lasso        2.0402   1.97147    v26
# manual model param tune 2.0367   1.96204    v27